/* CSS Document */
h1{ text-align:center;}
/*图片显示属性*/
.chedan{
	height:250px;
	width:400px;
}
div.img
  {
  margin:3px;
  border:1px solid #bebebe;
  height:auto;
  width:auto;
  display:inline-table;
  text-align:center;
  }
div.img img
  {
  display:inline;
  margin:3px;
  border:1px solid #bebebe;
  }
div.img a:hover img
  {
  border:1px solid #333333;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:150px;
  font-size:12px;
  margin:10px 5px 10px 5px;
  }
.show
{
	text-align:center;
	width:auto;
	border:1px solid #bebebe;
	overflow:hidden;
}
.text
{
	display:inline-table;
	text-align:center;
  font-weight:normal;
  width:150px;
  font-size:12px;
  margin:10px 5px 10px 5px;
}
.bodycss{
	background-image:url(background.jpg)
}
/* 
	------- Reset Style Section ------- 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}

body {
	line-height:1;
	color:black;
	background:white;
	background-image:url(../images/body_bg.png);
}

table {
	border-collapse:separate;
	border-spacing:0;
}

caption, th, td {
	text-align:left;
	font-weight:normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}

blockquote, q {
	quotes:"" "";
}

header, section, footer,
aside, nav, article, figure {
	display:block;
}

/* 
	------- General Style Section -------
*/

/* Header */

h1, h2, h3, h4, h5, h6 {
	font-family:'PT Sans Narrow', sans-serif;
	font-size:3em;
	color:#5C7CAF;
	margin-bottom:15px;
	padding-bottom:3px;
	border-bottom:1px solid #85a9e2;
	text-shadow:1px 1px 0px #E0E0E0,2px 2px 0px #E0E0E0;
}

h2 {
	font-size:2.6em;
	padding-bottom:3px;
}

h3 {
	font-size:2.2em;
	padding-bottom:2px;
}

h4 {
	font-size:1.9em;
	padding-bottom:1px;
}

h5 {
	font-size:1.6em;
	padding-bottom:1px;
}

h6 {
	font-size:1.3em;
}

/* Buttons */

a.button {
	width:140px;
	text-align:center;
	display:block;
	text-decoration:none;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	padding:10px;
	margin:2px 0px;
	font-size:0.9em;
	text-transform:uppercase;
}

a.button.blue {
	text-shadow:1px 1px 0px #555;
	border:1px solid #5b77ef;
	color:#fff;
	background-color:#869dfc;
}

a.button.blue:hover {
	border:1px solid #5b77ef;
	background-color:#5e7bf9;
}

a.button.red {
	text-shadow:1px 1px 0px #555;
	border:1px solid #dc6161;
	color:#fff;
	background-color:#fc8686;
}

a.button.red:hover {
	background-color:#f95e5e;
}

a.button.green {
	text-shadow:1px 1px 0px #555;
	border:1px solid #43c65f;
	color:#fff;
	background-color:#61dc7e;
}

a.button.green:hover {
	border:1px solid #43c65f;
	background-color:#27d951;
}
a.button.white {
	text-shadow:1px 1px 0px #555;
	border:1px solid #FFFFFF;
	color:#fff;
	background-color:#FFFFFF;
}

a.button.white:hover {
	border:1px solid #FFFFFF;
	background-color:#FFFFFF;
}

#main-content {
	width:960px;
	margin:0 auto;
	padding:45px 0 0 19px;
}

.main-page-content {
	padding:30px 0 0 4px !important;
}


.story-header-wrap {
	font-family:'Arial',sans-serif !important;
	text-decoration:none;
	font-size:1em;
	color:#313131;
	margin-bottom:65px;
}